<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>MicronoApp - Record</title>
	<!--<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<!-- the following code is largely taken from the
		MDN's example here: https://github.com/mdn/web-dictaphone-->
	<link rel="script" th:href="@{/js/mediaDevices-getUserMedia-polyfill.js}"/>
</head>

<body>

<div class="wrapper">

	<header>
		<h1>Record audio</h1>
	</header>

	<h2> Please say the following into the microphone:</h2>
	<ul th:each="record : ${records}">
		<li id="record-text" th:text="${record}"/>
	</ul>

	<section class="main-controls">
		<div id="buttons">
			<button class="record">Record</button>
			<button class="stop">Stop</button>
            <button onclick="pronunciation()">Pronunciation (English)</button>
			<script>
			function pronunciation(){
				var utterance = new SpeechSynthesisUtterance();
				var record = document.querySelector('.record');
				var word = $("#record-text").text();
				utterance.text=word;
    			utterance.lang = 'en-US';
    			speechSynthesis.speak(utterance);
    		}
			</script>
			<button onclick="slowPronunciation()">Pronunciation (Slower)</button>
			<script>
			function slowPronunciation(){
				var slowUt = new SpeechSynthesisUtterance();
				var record = document.querySelector('.record');
				var word2 = $("#record-text").text();
				slowUt.text=word2;
    			slowUt.lang = 'en-US';
    			slowUt.rate = 0.3;
    			speechSynthesis.speak(slowUt);
    		}
			</script>
		</div>
		<canvas class="visualizer" height="90px"></canvas>
	</section>

	<section class="sound-clips">
	</section>

	<!-- script for recording audio -->
	<script th:src="@{/js/record-app.js}"></script>

</div>

</body>

</html>
