<html>

<head>
	<title>Sign up for an account</title>
</head>

<h1>Sign up</h1>

<form action="./index.html" method=POST>
	<p>
		<label for="username">Enter a username (8-20 letters and/or numbers):</label><br />
		<input type="text" id="username" name="username" pattern="[\da-zA-Z]{8,20}"  required="true">
	</p>
	<!-- <p>
		<label for="email">Enter your or your parent's email:</label><br />
		<input type="text" id="email" name="email" required="true">
	</p> -->
	<p>
		<label for="password">Enter a password (8-40 letters and/or numbers):</label><br />
		<input type="password" id="password" name="password" pattern="[\da-zA-Z]{8,40}" required="true">
	</p>
	<p>
		<label for="password_match">Enter your password again:</label><br />
		<input type="password" id="password_match" name="password_match" pattern="[\da-zA-Z]{8,40}"  required="true">
	</p>
	<p>
		<label for="user_type">I am a:</label><br />
		<select id="user_type" name="user_type">
			<option value="patient">Patient</option>
			<option value="therapist">Therapist</option>
			<option value="researcher">Researcher</option>
		</select>
	</p>
	<input type="submit" value="Sign up">
</form>

</html>
